@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
}

/* Navbar Styles */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: coral;
  color: white;
}

.navbar-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: rgb(211, 96, 54);
}

/* Guess Component Styles */

.guess-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.guess-title {
  color: black;
}

.guess-result {
  margin: 0;
  font-size: 25px;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.guess-input {
  width: 50px;
  height: 30px;
  text-align: center;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  background: rgb(255, 148, 109);
  margin-top: 1em;
  padding: 4.5px 25px;
  color: white;
  font-size: 18px;
  border: none;
  margin-bottom: 1em;
}

.btn:hover {
  background-color: rgb(255, 119, 70);
}

.secret-number {
  margin-top: 1em;
  font-size: 18px;
}

.guess-error {
  color: red;
  margin: 0;
}

/* States Component Styles */

.states-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.state-list-item {
  list-style: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(255, 149, 111);
  margin: 1.5em 0;
  font-size: 25px;
}

.state-list-item:hover {
  background-color: rgb(255, 148, 109);
  transition: 0.3s ease;
}

/* StateDetail Component Styles */

.detail-header {
  text-align: center;
  text-transform: capitalize;
}

.detail-list {
  overflow-x: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5em 1em;
}

tr {
  text-align: center;
  padding: 1em;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  height: 400px;
}

.state.flag-img {
  width: 100px;
}

.btn-container {
  display: flex;
  justify-content: center;
}
